{
  "extends": "eslint:recommended",

  "env": {
    "browser": true,
    "commonjs": true,
    "jquery": true,
    "mocha": true,
    "node": true,
    "phantomjs": true
  },

  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "module"
  },

  "plugins": ["react"]
}
